<h1>Adicionar Produto</h1></br>

<%= form_for @product, :html => { :multipart => true } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "erro") %> foram encontrados:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
         <% end %>
       </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :code, "Código do Produto:" %><br>
    <%= f.text_field :code %>
  </p>
 
  <p>
    <%= f.label :name, "Nome do Produto:" %><br>
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :image, "Imagem:" %><br>
    <%= f.file_field :image %>
   </p>

  <p>
    <%= f.label :price, "Preço:" %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :stock, "Quantidade em Estoque:" %><br>
    <%= f.text_field :stock %>
  </p>

  <p>
    <%= f.label :description, "Descrição:" %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :details, "Ficha Técnica:" %><br>
    <%= f.text_area :details %>
  </p>
 
  <p>
    <%= f.submit "Adicionar", class: "btn btn-primary"%>
  </p>
<% end %>

<%= link_to 'Voltar', products_path %>