<title>Cadastro</title>

<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
  
  <!-- end registration -->
  
  <div class="login_left">
    <h3>Novo Cliente</h3>
      <p>Ao criar uma conta na nossa loja, você será capaz de se mover através do processo de pagamento com maior rapidez, armazenar múltiplos endereços de envio, ver e rastrear seus pedidos e muito mais.</p>
    <div class="registration_left">
    <!--<a href="#"><div class="reg_fb"><img src="images/facebook.png" alt=""><i>register using Facebook</i><div class="clear"></div></div></a>-->
    

     <div class="registration_form">
     <!-- Form -->
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      <form>
        <div>
          <label>
            <%= f.text_field :name, :placeholder => 'Nome Completo:', :class=>"form-control" %>       
          </label>
        </div>
        <div>
          <label>
            <%= f.text_field :userName, :placeholder => 'Apelido:', :class=>"form-control" %>
          </label>
        </div>
        <div class="sky_form">
          
            <ul class="text">Sexo:
              <li>
                <label>
                  <%= f.radio_button :sex, 'Feminino'%>
                  Feminino
                </label>
              </li>
              <li>
                <label>
                  <%= f.radio_button :sex, 'Masculino' %>
                  Masculino
                </label>
              </li>
            </ul>
        </div> 
        <div>
          <label>          
            <%= f.email_field :email, :placeholder => 'E-mail:' %>        
          </label>
        </div>
        <div>
          <label>           
              <% if @validatable %>                    
              <em class="text">(<%= @minimum_password_length %> caracteres no mínimo)</em>
              <% end %>
              <%= f.password_field :password, :placeholder => 'Senha:', autocomplete: "off" %>
          </label>
        </div>            
        <div>
          <label>
            <%= f.password_field :password_confirmation, :placeholder => 'Repita a senha:', autocomplete: "off" %>
          </label>
        </div>                         
        <div>
          <label>
            <%= f.text_field :ddd, :size=>2, :placeholder => 'DDD:', :class=>"form-control" %>
          </label>
        </div>
        <div>
          <label>
            <%= f.telephone_field :phone, :placeholder => 'Telefone:', :class=>"form-control" %>
          </label>
        </div>
   
        <!--BEGIN ADRESS-->
        <div>
          <label>
            <%= f.text_field :address, :placeholder => 'Endereço:', :class=>"form-control" %>
          </label>
        </div>       
        <div>
          <label>
            <%= f.text_field :complement, :placeholder => 'Complemento:', :class=>"form-control" %>      
          </label>
        </div>
        <div>
          <label>
            <%= f.text_field :bairro, :placeholder => 'Bairro:', :class=>"form-control" %>   
          </label>
        </div>
        <div>
          <label>
            <%= f.text_field :city, :placeholder => 'Cidade:', :class=>"form-control" %>    
          </label>
        </div>
        <div>
          <label class="text">
          Selecione o estado:
          <%= f.select(:uf, ['Selecione uma UF', 'Acre', 'Alagoas', 'Amazonas', 'Amapá', 'Bahia', 
            'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão',
            'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará', 'Paraíba',
            'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro', 'Rio Grande do Norte',
            'Rondônia', 'Rio Grande do Sul', 'Roraima', 'Santa Catarina', 
            'Sergipe', 'São Paulo', 'Tocantins']) %> 
            </label>
        </div>
        <div>
          <label>
            <%= f.text_field :cep, :placeholder => 'CEP:', :class=>"form-control" %>  
          </label>
        </div>
        <!--END ADRESS-->       
        <div class="sky_form">
          <label class="checkbox"><input type="checkbox" name="checkbox"><i>Eu aceito os <a class="terms" href="#"> termos de serviço.</a> </i></label>
        </div>
        <div>          
          <%= f.submit "Cadastrar" %>
          </a>
        </div>        
      </form>      
      <% end %>
      <!-- /Form -->      
    </div>
  </div>
  </div>
  <div class="clear"></div>
</div>
</div>
</div>
