<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="/">Home</a></li>
			  <li class="active">Carrinho de Compras</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Preço</td>
						<td class="quantity">Quantidade</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td class="cart_product">
							<a><%= image_tag(product.image.url(:medium)) %></a>
						</td>
						<td class="cart_description">
							<h4><b><%= product.name %></b></h4>
							<p><%= product.code %></p>
						</td>
						<td class="cart_price">
							<p><%= product.price %></p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" href=""> + </a>
								<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="on" size="2">
								<a class="cart_quantity_down" href=""> - </a>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price"><%= product.price %></p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->