<title>Mudar senha</title>

<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
  
  <!-- end registration -->
  
  <div class="login_left_unique">
    <h3>Alterar senha</h3>
    <div class="registration_left">
    <!--<a href="#"><div class="reg_fb"><img src="images/facebook.png" alt=""><i>register using Facebook</i><div class="clear"></div></div></a>-->
    

     <div class="registration_form">
     <!-- Form -->
     <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
     <%= devise_error_messages! %>
     <%= f.hidden_field :reset_password_token %>
      <form id="registration_form">
        <div>
          <label>
            <%= f.text_field :password, :placeholder => 'Senha:', :class=>"form-control" %>
          </label>
        </div> 
        <div>
          <label>
            <%= f.text_field :password_confirmation, :placeholder => 'Confirmação de senha:', :class=>"form-control" %>
          </label>
        </div>          
        <div>
          <%= f.submit "Salvar nova senha" %>
        </div>
     <% end %>
      <!-- /Form -->      
    </div>
  </div>
  </div>
  <div class="clear"></div>
</div>
</div>
</div>
